# Prediction of Credit Payment Default Payment Status: Data Pre-Processing 

In this step, we will be processing the data by looking at the missing and unknown values, identifying and removing the outliers with Z-score tabulation and normalization of continuous variables.

#### Import libraries

In [1]:
import pandas as pd
from scipy import stats
import numpy as np
from sklearn import preprocessing

#### Import the dataset into Jupyter Notebook

In [2]:
credit_card = pd.read_csv('default of credit card clients.csv')
credit_card = credit_card.drop(['ID'],axis=1)
credit_card

,LIMIT_BAL,GENDER,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
1,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,220000,1,3,1,39,0,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
29996,150000,1,3,2,43,-1,-1,-1,-1,0,...,8979,5190,0,1837,3526,8998,129,0,0,0
29997,30000,1,2,2,37,4,3,2,-1,0,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
29998,80000,1,3,1,41,1,-1,0,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
29999,50000,1,2,1,46,0,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

### Check for missing values

In [3]:
credit_card.describe()

,LIMIT_BAL,GENDER,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
count,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,...,30000.000000,30000.000000,30000.000000,30000.000000,3.000000e+04,30000.00000,30000.000000,30000.000000,30000.000000,30000.000000
mean,167484.322667,1.603733,1.853133,1.551867,35.485500,-0.016700,-0.133767,-0.166200,-0.220667,-0.266200,...,43262.948967,40311.400967,38871.760400,5663.580500,5.921163e+03,5225.68150,4826.076867,4799.387633,5215.502567,0.221200
std,129747.661567,0.489129,0.790349,0.521970,9.217904,1.123802,1.197186,1.196868,1.169139,1.133187,...,64332.856134,60797.155770,59554.107537,16563.280354,2.304087e+04,17606.96147,15666.159744,15278.305679,17777.465775,0.415062
min,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.00000,0.000000,0.000000,0.000000,0.000000
25%,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2326.750000,1763.000000,1256.000000,1000.000000,8.330000e+02,390.00000,296.000000,252.500000,117.750000,0.000000
50%,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,19052.000000,18104.500000,17071.000000,2100.000000,2.009000e+03,1800.00000,1500.000000,1500.000000,1500.000000,0.000000
75%,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,54506.000000,50190.500000,49198.250000,5006.000000,5.000000e+03,4505.00000,4013.250000,4031.500000,4000.000000,0.000000
max,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.00000,621000.000000,426529.000000,528666.000000,1.000000

<div class = "alert alert-info"> 
There are no missing values based on the counts. All the features have Count = 30,000
</div>

### Dealing with unknown values 

There are values that are not accounted for under the columns: Marriage, Education and PAY_X (i.e. Marriage = 0, PAY_X = 0 and -2, Education = 0, 5 and 6).

#### Unknown values in the Marriage column

In [4]:
# check for the number of rows corresponding to Marriage = 0
credit_card['MARRIAGE'].value_counts()

2    15964
1    13659
3      323
0       54
Name: MARRIAGE, dtype: int64

<div class = "alert alert-info"> 
Marriage = 0 ony correpsonds to 1.8% of the total count; a very small minority. Hence, we removed the rows corresponding to Marriage = 0.
</div>

In [5]:
# remove the rows with marriage = 0
credit_card = credit_card[credit_card.MARRIAGE != 0]

# to check whether if the marriage = 0 rows are deleted
credit_card['MARRIAGE'].value_counts()

2    15964
1    13659
3      323
Name: MARRIAGE, dtype: int64

In [6]:
# reindex after dropping so that we can use index for dropping later on 
credit_card = credit_card.reset_index(drop=True)

#### Unknown values in the PAY_X column

In [7]:
# Check the number of rows corresponding to unaccounted PAY_X = -2 and 0
credit_card['PAY_3'].value_counts()

 0    15745
-1     5925
-2     4074
 2     3810
 3      238
 4       76
 7       27
 6       23
 5       21
 1        4
 8        3
Name: PAY_3, dtype: int64

<div class = "alert alert-info"> 
There is a significant number of rows correspinding to PAY_X =0 and -2. Hence, removal of these rows is likely to affect the accuracy level during modelling. Thus, instead of dropping these rows, we decided to replace PAY_X = -2 with the value 0 and treat all PAY_X = 0 as PAY_X = unknown.
</div>

The reason why we did not replace the values with the string 'unknown' is because the classifier models that we will be using will not be able to deal with strings in the data.

In [8]:
credit_card = credit_card.replace({-2: 0})

# check that the values are replaced 
credit_card['PAY_3'].value_counts()

 0    19819
-1     5925
 2     3810
 3      238
 4       76
 7       27
 6       23
 5       21
 1        4
 8        3
Name: PAY_3, dtype: int64

#### Unknown values in the Education column

In [9]:
# Check the number of rows corresponding to unaccounted Education = 5 and 6 
credit_card['EDUCATION'].value_counts()

2    14024
1    10581
3     4873
5      280
4      123
6       51
0       14
Name: EDUCATION, dtype: int64

<div class = "alert alert-info"> 
Since the sum of EDUCATION = 0, 5 and 6 is quite significant, we decided to replace these the values 5 and 6 with the value 0 and treat all EDUCATION = 0 as EDUCATION = unknown.
</div>

In [11]:
credit_card['EDUCATION'] = credit_card['EDUCATION'].replace({6: 0, 5:0})

# check that the values are replaced 
credit_card['EDUCATION'].value_counts()

2    14024
1    10581
3     4873
0      345
4      123
Name: EDUCATION, dtype: int64

### Identifying outliers with Z-Score tabulation
We will be identifying outliers for the continous variables (i.e. limit balance, bill amount and pay amount) and not the categorical variables. The reason for doing so is because we have limited number of unqiue values for our categorical variables and the removal of the outliers is likely to affect our accuracy level.

#### Identifying outliers for Limit Balance

In [35]:
z = np.abs(stats.zscore(credit_card['LIMIT_BAL']))
threshold = 5
[limit_bal_outliers] = np.array(np.where(z > threshold)).tolist()

# remove duplicates
limit_bal_outliers = list(set(limit_bal_outliers))
print(limit_bal_outliers)

# check length of outlier list 
print("\nThere is a total of ", len(limit_bal_outliers), "outliers in Limit Balance.")

[2191]

There is a total of  1 outliers in Limit Balance.

#### Identifying outliers for PAY_AMTX

In [36]:
pay_amtx_outliers = []

for pay_amt in ["PAY_AMT1", "PAY_AMT2", "PAY_AMT3", "PAY_AMT4", "PAY_AMT5", "PAY_AMT6"]:
    z = np.abs(stats.zscore(credit_card[pay_amt]))
    threshold = 5
    outliers = np.array(np.where(z > threshold))
    outlier_list = outliers.tolist()
    for i in outlier_list:
        for x in i:
            pay_amtx_outliers.append(x)

# remove duplicates
pay_amtx_outliers = list(set(pay_amtx_outliers))
print(pay_amtx_outliers)

# check length of outlier list 
print("\nThere is a total of ", len(pay_amtx_outliers), "outliers in PAY_AMTX.")

[20481, 16385, 8197, 14346, 2059, 17, 18451, 12308, 28692, 10262, 24599, 16408, 4124, 6173, 8222, 20511, 26662, 40, 8233, 18473, 14379, 8239, 4144, 26674, 8243, 20532, 24627, 8251, 26684, 12351, 16448, 14401, 22594, 24643, 6217, 20554, 22606, 18511, 26703, 81, 10323, 14424, 10330, 12379, 24672, 20576, 16482, 10339, 20583, 12393, 4201, 22633, 108, 2158, 24687, 6256, 28782, 18546, 8308, 20598, 16503, 26743, 10361, 13050, 24698, 8316, 22654, 4224, 8324, 22660, 14474, 26764, 8333, 14478, 2191, 15496, 14483, 26772, 8341, 22675, 14487, 4248, 14489, 153, 4249, 16540, 24734, 2207, 22686, 12452, 14500, 26790, 16553, 10410, 6313, 16556, 16558, 22703, 8370, 26802, 18611, 12472, 10425, 2234, 22715, 8378, 28857, 26814, 22720, 14529, 2243, 16579, 28867, 2246, 22726, 10440, 10447, 2256, 210, 8183, 26835, 2261, 4310, 16599, 8409, 26842, 20699, 12508, 10461, 24798, 24799, 2270, 16601, 22748, 24803, 8185, 26845, 8424, 24812, 28911, 18672, 22772, 10485, 8439, 14584, 20728, 16632, 252, 20734, 10495, 14591, 12545, 16639, 22783, 26884, 18693, 24835, 20746, 8460, 12556, 28941, 20751, 22800, 20748, 26901, 28951, 8472, 24857, 2333, 28957, 22813, 289, 24865, 14629, 8486, 18726, 26920, 20779, 24876, 300, 2349, 12593, 20787, 21635, 19193, 6464, 18754, 24899, 12612, 14664, 4425, 20808, 2385, 29011, 14677, 342, 2393, 22874, 12633, 14685, 350, 29023, 14688, 22881, 18786, 18787, 12644, 6496, 24934, 10599, 20839, 12650, 26986, 373, 18807, 4472, 8568, 14714, 24956, 14719, 20866, 12674, 6532, 388, 12678, 24968, 10632, 14734, 399, 20880, 404, 2459, 413, 18846, 8611, 16804, 22949, 14331, 18858, 14763, 27053, 25006, 6575, 12720, 10673, 29105, 10675, 6580, 18868, 22966, 22968, 12728, 27064, 27068, 20927, 4544, 22976, 27072, 451, 8644, 8648, 2506, 16842, 462, 6606, 20949, 22998, 27093, 22997, 25049, 27098, 25053, 479, 20963, 23011, 18916, 14820, 14823, 20972, 8692, 18936, 505, 16892, 6658, 23043, 14853, 12806, 16902, 12805, 521, 524, 21005, 23058, 21012, 10777, 2585, 6681, 8733, 2589, 29223, 14889, 12842, 14891, 10795, 8749, 23086, 562, 8755, 8757, 6709, 6710, 14904, 21048, 29237, 8762, 29245, 21056, 4673, 21057, 21059, 23108, 29830, 8771, 19013, 12873, 27216, 10838, 27223, 21080, 16984, 23129, 25179, 21083, 23142, 12903, 27239, 6761, 10861, 23150, 12910, 6769, 23154, 29299, 8821, 14966, 2680, 23161, 14969, 4732, 27261, 637, 8834, 17026, 8838, 19078, 14983, 29319, 4752, 10896, 23186, 17040, 29328, 4756, 6806, 6808, 29340, 15006, 8865, 29346, 8868, 10919, 15016, 10921, 10920, 684, 12980, 6836, 29367, 4792, 29369, 6841, 27321, 19134, 17087, 2752, 10942, 2754, 23235, 15044, 6852, 25286, 27335, 21191, 6857, 8908, 27341, 2764, 15056, 21204, 21205, 727, 21208, 19160, 21215, 10977, 29411, 8935, 15080, 10984, 29418, 29420, 27374, 8943, 29422, 10993, 2802, 6900, 23286, 761, 4858, 13051, 6906, 15101, 27389, 27390, 27392, 15105, 11009, 8960, 21252, 15109, 2822, 4864, 6920, 4867, 21255, 2833, 4882, 13075, 19220, 2839, 23322, 25371, 13093, 4904, 25385, 23336, 15146, 4910, 6958, 25391, 26622, 13110, 825, 27450, 829, 11071, 13124, 9029, 4935, 27464, 11081, 11089, 23378, 4947, 25427, 23383, 13148, 27492, 9062, 13162, 13163, 23404, 27500, 23408, 17264, 9073, 27507, 17269, 25461, 2935, 13175, 17270, 23415, 21377, 25473, 23425, 19334, 27527, 23433, 2954, 5001, 9097, 17295, 23445, 2965, 29595, 17309, 9119, 7071, 5025, 17314, 23457, 23456, 21413, 11174, 29607, 25503, 29612, 27566, 25521, 945, 2993, 21425, 23477, 23476, 951, 25529, 953, 15291, 21433, 19387, 29632, 25537, 13255, 23497, 7115, 5067, 25550, 23503, 21456, 13265, 15313, 9175, 13271, 985, 5082, 23515, 7134, 29667, 997, 19430, 25577, 15337, 25579, 13294, 7154, 15346, 29685, 3065, 1024, 25600, 25604, 27657, 5130, 19472, 17425, 11286, 1047, 19480, 3097, 19483, 13340, 7197, 15388, 17439, 1059, 1061, 5158, 5159, 25639, 3113, 23595, 11308, 13357, 1069, 9262, 23597, 21557, 9273, 9275, 29766, 17479, 5191, 19534, 9295, 11343, 25684, 19543, 15448, 21593, 9305, 7259, 9307, 19548, 17502, 3164, 21594, 7269, 29798, 3175, 13422, 7280, 13424, 29810, 25715, 21617, 29813, 7285, 23677, 9343, 27776, 15490, 9347, 7300, 11397, 23684, 17543, 23686, 17545, 29834, 1161, 3212, 7308, 13454, 7309, 19600, 7306, 7316, 29848, 29849, 19610, 15516, 29852, 9374, 23711, 21664, 25760, 21668, 5286, 27819, 1196, 19629, 5297, 17585, 17587, 17589, 5304, 7353, 9403, 27846, 3271, 1227, 13516, 3277, 23758, 29903, 7376, 19665, 25810, 15565, 29909, 25815, 1239, 11479, 13530, 23774, 29918, 17632, 11490, 17634, 1250, 27875, 25830, 1257, 19690, 3307, 13548, 17646, 17648, 17649, 25848, 11513, 9466, 11515, 15611, 11518, 1278, 15617, 17667, 23812, 3333, 11529, 15626, 23819, 7436, 5389, 17675, 5392, 15633, 25873, 11539, 7444, 1301, 15634, 23831, 3344, 9497, 3354, 25885, 11550, 15646, 1312, 11552, 9505, 15649, 7463, 19752, 27944, 15658, 15656, 21805, 15662, 25902, 25903, 11569, 27955, 19763, 15669, 25910, 15674, 9531, 3388, 5436, 5438, 17726, 3392, 13634, 13636, 5448, 7497, 17739, 15691, 19792, 15699, 3412, 27989, 25942, 27993, 13660, 13662, 21859, 25955, 3429, 1382, 1384, 5483, 11628, 1387, 3440, 13684, 23926, 1399, 19833, 25981, 1410, 11651, 21892, 11654, 23943, 23946, 17802, 13709, 19853, 3471, 9615, 26000, 28049, 25999, 7573, 19861, 17815, 5528, 19870, 26014, 28064, 19872, 21927, 19885, 3503, 5552, 17841, 1458, 13746, 9656, 1467, 1470, 21950, 26050, 1475, 17860, 11718, 15817, 24010, 19915, 13771, 28109, 19917, 28113, 19921, 1489, 24018, 24019, 1490, 11736, 21977, 26074, 11743, 11749, 21991, 9703, 9706, 19947, 19948, 28145, 24052, 17914, 7675, 5633, 13826, 28161, 15880, 22026, 24076, 5645, 24077, 13839, 3600, 3603, 17940, 24086, 5655, 15904, 15907, 20005, 5676, 1581, 11822, 9773, 26160, 5680, 26163, 1590, 26167, 22072, 11830, 11834, 5690, 26170, 7740, 20023, 20031, 5695, 22078, 7746, 13891, 28228, 5701, 28229, 11848, 7753, 24138, 13899, 20044, 1613, 20047, 24146, 5717, 13912, 3682, 5730, 24165, 7782, 18024, 13929, 13931, 24174, 18033, 13937, 13939, 24180, 9845, 24181, 22135, 24191, 22143, 11907, 1667, 13962, 1675, 20107, 3725, 20109, 9871, 24207, 7825, 18062, 28307, 24205, 1685, 9878, 18065, 13980, 18078, 1698, 11938, 11941, 18087, 24232, 26280, 18090, 7849, 7857, 7859, 22195, 3766, 18103, 7865, 20155, 1726, 14016, 18113, 7874, 18115, 5830, 20167, 24264, 7879, 1735, 22218, 28364, 5839, 24272, 16087, 16088, 24280, 7898, 28384, 20192, 14052, 16104, 5865, 5866, 26348, 18157, 24302, 20207, 28402, 22258, 14070, 26358, 28409, 22266, 24315, 7929, 5886, 26369, 20227, 18181, 24325, 12040, 24329, 1804, 16143, 1813, 24342, 5913, 24346, 1820, 18205, 14111, 26399, 10017, 1826, 18211, 16165, 3877, 24361, 28461, 26413, 28466, 3898, 3901, 12094, 16189, 18240, 22337, 12098, 24384, 14148, 26436, 18246, 14151, 28491, 10060, 1870, 22351, 10062, 22353, 16207, 22356, 8020, 22360, 5977, 14170, 26459, 1899, 1900, 3947, 24435, 16246, 16247, 22390, 18297, 3963, 8069, 12168, 3978, 14224, 14226, 20370, 1938, 1942, 15040, 8088, 22425, 16284, 22429, 6045, 28573, 28578, 10147, 26535, 6057, 6058, 22444, 8109, 28592, 14261, 20410, 8123, 10172, 18365, 22463, 14272, 6079, 20419, 14284, 10188, 4051, 22488, 16345, 12254, 8159, 14308, 6120, 24554, 16363, 20460, 4078, 14319, 28656, 20471, 28664, 28665, 6139, 28668, 4093, 8190]

There is a total of  1079 outliers in Limit Balance.

#### Identifying outliers for BILL_AMTX

In [39]:
bill_amtx_outliers = []

for bill_amt in ["BILL_AMT1", "BILL_AMT2", "BILL_AMT3", "BILL_AMT4", "BILL_AMT5", "BILL_AMT6"]:
    z = np.abs(stats.zscore(credit_card[bill_amt]))
    threshold = 5
    outliers = np.array(np.where(z > threshold))
    outlier_list = outliers.tolist()
    for i in outlier_list:
        for x in i:
            bill_amtx_outliers.append(x)
    
# remove duplicates
bill_amtx_outliers = list(set(bill_amtx_outliers))
print(bill_amtx_outliers)

# check length of outlier list 
print("\nThere is a total of ", len(bill_amtx_outliers), "outliers in BILL_AMTX.")

[3586, 6, 6154, 10762, 22538, 25101, 24077, 13839, 19985, 9745, 28692, 21014, 3607, 8215, 11804, 25631, 20005, 40, 24105, 12842, 19499, 4661, 12855, 1082, 59, 11836, 21052, 22588, 13891, 26180, 24643, 29766, 11848, 17481, 7757, 26190, 27215, 26703, 20051, 14420, 26197, 4694, 29783, 21079, 25684, 9305, 22619, 13413, 102, 6761, 4201, 13419, 27759, 13939, 7285, 27254, 2168, 29817, 10877, 12419, 22660, 29829, 1673, 22154, 28302, 2191, 12943, 20629, 11929, 16027, 5276, 24220, 2205, 4256, 12961, 8866, 24226, 23717, 5286, 12454, 2216, 25770, 29867, 10414, 6319, 13487, 15537, 19634, 4789, 10942, 4800, 14529, 27330, 2243, 6852, 26309, 28357, 22727, 26824, 21192, 1732, 5323, 14540, 23755, 1230, 15056, 15569, 21204, 214, 7383, 24279, 23768, 26839, 4315, 19163, 25822, 20192, 11489, 10977, 10979, 24062, 4328, 10473, 4332, 10478, 6900, 15094, 23799, 24314, 25850, 18172, 17660, 27392, 19715, 3335, 15115, 26892, 13581, 28941, 5389, 11539, 13075, 21268, 13590, 28951, 17176, 5913, 27419, 3355, 1821, 22813, 28959, 11550, 289, 2338, 1827, 8486, 23336, 18217, 23852, 28461, 16177, 27955, 11060, 26936, 27450, 28989, 5438, 1343, 21311, 22337, 1857, 24893, 10750, 19270, 6982, 12617, 1354, 841, 27470, 16207, 18259, 2900, 3412, 27989, 21340, 15199, 21346, 24934, 359, 17767, 26986, 13163, 29551, 23408, 1908, 27509, 19829, 20857, 24956, 7036, 26498, 26499, 27524, 9095, 1930, 2449, 915, 23443, 406, 19866, 10140, 28573, 7068, 6048, 25505, 26529, 7587, 28578, 5025, 15042, 14251, 19885, 26545, 13746, 26039, 12728, 10167, 3511, 16314, 15292, 18365, 14782, 28094, 24510, 13759, 450, 1987, 9667, 14276, 17354, 22989, 28111, 4051, 27092, 22998, 8150, 23511, 25049, 8667, 8158, 1503, 9184, 15332, 3044, 15846, 16873, 2025, 5614, 25078, 18936, 19452, 16893, 15358, 25087]

There is a total of  265 outliers in BILL_AMTX.

<div class = "alert alert-info"> 
The typical threshold level to use for Z-score tabulation was 3. However, we increased the threshold level to 5 for all due to the high number of outliers identified when threshold level = 3.
</div>

In [42]:
# collating the outlier lists 

outlier_list = limit_bal_outliers + pay_amtx_outliers + bill_amtx_outliers

# remove duplicates
outlier_list = list(set(outlier_list))

# outlier list needs to be in aescending order, as shown in the array given
outlier_list.sort()

print(outlier_list)
print("\nThere is a total of ", len(outlier_list), "outliers in the dataset.")

[6, 17, 40, 59, 81, 102, 108, 153, 210, 214, 252, 289, 300, 342, 350, 359, 373, 388, 399, 404, 406, 413, 450, 451, 462, 479, 505, 521, 524, 562, 637, 684, 727, 761, 825, 829, 841, 915, 945, 951, 953, 985, 997, 1024, 1047, 1059, 1061, 1069, 1082, 1161, 1196, 1227, 1230, 1239, 1250, 1257, 1278, 1301, 1312, 1343, 1354, 1382, 1384, 1387, 1399, 1410, 1458, 1467, 1470, 1475, 1489, 1490, 1503, 1581, 1590, 1613, 1667, 1673, 1675, 1685, 1698, 1726, 1732, 1735, 1804, 1813, 1820, 1821, 1826, 1827, 1857, 1870, 1899, 1900, 1908, 1930, 1938, 1942, 1987, 2025, 2059, 2158, 2168, 2191, 2205, 2207, 2216, 2234, 2243, 2246, 2256, 2261, 2270, 2333, 2338, 2349, 2385, 2393, 2449, 2459, 2506, 2585, 2589, 2680, 2752, 2754, 2764, 2802, 2822, 2833, 2839, 2900, 2935, 2954, 2965, 2993, 3044, 3065, 3097, 3113, 3164, 3175, 3212, 3271, 3277, 3307, 3333, 3335, 3344, 3354, 3355, 3388, 3392, 3412, 3429, 3440, 3471, 3503, 3511, 3586, 3600, 3603, 3607, 3682, 3725, 3766, 3877, 3898, 3901, 3947, 3963, 3978, 4051, 4078, 4093, 4124, 4144, 4201, 4224, 4248, 4249, 4256, 4310, 4315, 4328, 4332, 4425, 4472, 4544, 4661, 4673, 4694, 4732, 4752, 4756, 4789, 4792, 4800, 4858, 4864, 4867, 4882, 4904, 4910, 4935, 4947, 5001, 5025, 5067, 5082, 5130, 5158, 5159, 5191, 5276, 5286, 5297, 5304, 5323, 5389, 5392, 5436, 5438, 5448, 5483, 5528, 5552, 5614, 5633, 5645, 5655, 5676, 5680, 5690, 5695, 5701, 5717, 5730, 5830, 5839, 5865, 5866, 5886, 5913, 5977, 6045, 6048, 6057, 6058, 6079, 6120, 6139, 6154, 6173, 6217, 6256, 6313, 6319, 6464, 6496, 6532, 6575, 6580, 6606, 6658, 6681, 6709, 6710, 6761, 6769, 6806, 6808, 6836, 6841, 6852, 6857, 6900, 6906, 6920, 6958, 6982, 7036, 7068, 7071, 7115, 7134, 7154, 7197, 7259, 7269, 7280, 7285, 7300, 7306, 7308, 7309, 7316, 7353, 7376, 7383, 7436, 7444, 7463, 7497, 7573, 7587, 7675, 7740, 7746, 7753, 7757, 7782, 7825, 7849, 7857, 7859, 7865, 7874, 7879, 7898, 7929, 8020, 8069, 8088, 8109, 8123, 8150, 8158, 8159, 8183, 8185, 8190, 8197, 8215, 8222, 8233, 8239, 8243, 8251, 8308, 8316, 8324, 8333, 8341, 8370, 8378, 8409, 8424, 8439, 8460, 8472, 8486, 8568, 8611, 8644, 8648, 8667, 8692, 8733, 8749, 8755, 8757, 8762, 8771, 8821, 8834, 8838, 8865, 8866, 8868, 8908, 8935, 8943, 8960, 9029, 9062, 9073, 9095, 9097, 9119, 9175, 9184, 9262, 9273, 9275, 9295, 9305, 9307, 9343, 9347, 9374, 9403, 9466, 9497, 9505, 9531, 9615, 9656, 9667, 9703, 9706, 9745, 9773, 9845, 9871, 9878, 10017, 10060, 10062, 10140, 10147, 10167, 10172, 10188, 10262, 10323, 10330, 10339, 10361, 10410, 10414, 10425, 10440, 10447, 10461, 10473, 10478, 10485, 10495, 10599, 10632, 10673, 10675, 10750, 10762, 10777, 10795, 10838, 10861, 10877, 10896, 10919, 10920, 10921, 10942, 10977, 10979, 10984, 10993, 11009, 11060, 11071, 11081, 11089, 11174, 11286, 11308, 11343, 11397, 11479, 11489, 11490, 11513, 11515, 11518, 11529, 11539, 11550, 11552, 11569, 11628, 11651, 11654, 11718, 11736, 11743, 11749, 11804, 11822, 11830, 11834, 11836, 11848, 11907, 11929, 11938, 11941, 12040, 12094, 12098, 12168, 12254, 12308, 12351, 12379, 12393, 12419, 12452, 12454, 12472, 12508, 12545, 12556, 12593, 12612, 12617, 12633, 12644, 12650, 12674, 12678, 12720, 12728, 12805, 12806, 12842, 12855, 12873, 12903, 12910, 12943, 12961, 12980, 13050, 13051, 13075, 13093, 13110, 13124, 13148, 13162, 13163, 13175, 13255, 13265, 13271, 13294, 13340, 13357, 13413, 13419, 13422, 13424, 13454, 13487, 13516, 13530, 13548, 13581, 13590, 13634, 13636, 13660, 13662, 13684, 13709, 13746, 13759, 13771, 13826, 13839, 13891, 13899, 13912, 13929, 13931, 13937, 13939, 13962, 13980, 14016, 14052, 14070, 14111, 14148, 14151, 14170, 14224, 14226, 14251, 14261, 14272, 14276, 14284, 14308, 14319, 14331, 14346, 14379, 14401, 14420, 14424, 14474, 14478, 14483, 14487, 14489, 14500, 14529, 14540, 14584, 14591, 14629, 14664, 14677, 14685, 14688, 14714, 14719, 14734, 14763, 14782, 14820, 14823, 14853, 14889, 14891, 14904, 14966, 14969, 14983, 15006, 15016, 15040, 15042, 15044, 15056, 15080, 15094, 15101, 15105, 15109, 15115, 15146, 15199, 15291, 15292, 15313, 15332, 15337, 15346, 15358, 15388, 15448, 15490, 15496, 15516, 15537, 15565, 15569, 15611, 15617, 15626, 15633, 15634, 15646, 15649, 15656, 15658, 15662, 15669, 15674, 15691, 15699, 15817, 15846, 15880, 15904, 15907, 16027, 16087, 16088, 16104, 16143, 16165, 16177, 16189, 16207, 16246, 16247, 16284, 16314, 16345, 16363, 16385, 16408, 16448, 16482, 16503, 16540, 16553, 16556, 16558, 16579, 16599, 16601, 16632, 16639, 16804, 16842, 16873, 16892, 16893, 16902, 16984, 17026, 17040, 17087, 17176, 17264, 17269, 17270, 17295, 17309, 17314, 17354, 17425, 17439, 17479, 17481, 17502, 17543, 17545, 17585, 17587, 17589, 17632, 17634, 17646, 17648, 17649, 17660, 17667, 17675, 17726, 17739, 17767, 17802, 17815, 17841, 17860, 17914, 17940, 18024, 18033, 18062, 18065, 18078, 18087, 18090, 18103, 18113, 18115, 18157, 18172, 18181, 18205, 18211, 18217, 18240, 18246, 18259, 18297, 18365, 18451, 18473, 18511, 18546, 18611, 18672, 18693, 18726, 18754, 18786, 18787, 18807, 18846, 18858, 18868, 18916, 18936, 19013, 19078, 19134, 19160, 19163, 19193, 19220, 19270, 19334, 19387, 19430, 19452, 19472, 19480, 19483, 19499, 19534, 19543, 19548, 19600, 19610, 19629, 19634, 19665, 19690, 19715, 19752, 19763, 19792, 19829, 19833, 19853, 19861, 19866, 19870, 19872, 19885, 19915, 19917, 19921, 19947, 19948, 19985, 20005, 20023, 20031, 20044, 20047, 20051, 20107, 20109, 20155, 20167, 20192, 20207, 20227, 20370, 20410, 20419, 20460, 20471, 20481, 20511, 20532, 20554, 20576, 20583, 20598, 20629, 20699, 20728, 20734, 20746, 20748, 20751, 20779, 20787, 20808, 20839, 20857, 20866, 20880, 20927, 20949, 20963, 20972, 21005, 21012, 21014, 21048, 21052, 21056, 21057, 21059, 21079, 21080, 21083, 21191, 21192, 21204, 21205, 21208, 21215, 21252, 21255, 21268, 21311, 21340, 21346, 21377, 21413, 21425, 21433, 21456, 21557, 21593, 21594, 21617, 21635, 21664, 21668, 21805, 21859, 21892, 21927, 21950, 21977, 21991, 22026, 22072, 22078, 22135, 22143, 22154, 22195, 22218, 22258, 22266, 22337, 22351, 22353, 22356, 22360, 22390, 22425, 22429, 22444, 22463, 22488, 22538, 22588, 22594, 22606, 22619, 22633, 22654, 22660, 22675, 22686, 22703, 22715, 22720, 22726, 22727, 22748, 22772, 22783, 22800, 22813, 22874, 22881, 22949, 22966, 22968, 22976, 22989, 22997, 22998, 23011, 23043, 23058, 23086, 23108, 23129, 23142, 23150, 23154, 23161, 23186, 23235, 23286, 23322, 23336, 23378, 23383, 23404, 23408, 23415, 23425, 23433, 23443, 23445, 23456, 23457, 23476, 23477, 23497, 23503, 23511, 23515, 23595, 23597, 23677, 23684, 23686, 23711, 23717, 23755, 23758, 23768, 23774, 23799, 23812, 23819, 23831, 23852, 23926, 23943, 23946, 24010, 24018, 24019, 24052, 24062, 24076, 24077, 24086, 24105, 24138, 24146, 24165, 24174, 24180, 24181, 24191, 24205, 24207, 24220, 24226, 24232, 24264, 24272, 24279, 24280, 24302, 24314, 24315, 24325, 24329, 24342, 24346, 24361, 24384, 24435, 24510, 24554, 24599, 24627, 24643, 24672, 24687, 24698, 24734, 24798, 24799, 24803, 24812, 24835, 24857, 24865, 24876, 24893, 24899, 24934, 24956, 24968, 25006, 25049, 25053, 25078, 25087, 25101, 25179, 25286, 25371, 25385, 25391, 25427, 25461, 25473, 25503, 25505, 25521, 25529, 25537, 25550, 25577, 25579, 25600, 25604, 25631, 25639, 25684, 25715, 25760, 25770, 25810, 25815, 25822, 25830, 25848, 25850, 25873, 25885, 25902, 25903, 25910, 25942, 25955, 25981, 25999, 26000, 26014, 26039, 26050, 26074, 26160, 26163, 26167, 26170, 26180, 26190, 26197, 26280, 26309, 26348, 26358, 26369, 26399, 26413, 26436, 26459, 26498, 26499, 26529, 26535, 26545, 26622, 26662, 26674, 26684, 26703, 26743, 26764, 26772, 26790, 26802, 26814, 26824, 26835, 26839, 26842, 26845, 26884, 26892, 26901, 26920, 26936, 26986, 27053, 27064, 27068, 27072, 27092, 27093, 27098, 27215, 27216, 27223, 27239, 27254, 27261, 27321, 27330, 27335, 27341, 27374, 27389, 27390, 27392, 27419, 27450, 27464, 27470, 27492, 27500, 27507, 27509, 27524, 27527, 27566, 27657, 27759, 27776, 27819, 27846, 27875, 27944, 27955, 27989, 27993, 28049, 28064, 28094, 28109, 28111, 28113, 28145, 28161, 28228, 28229, 28302, 28307, 28357, 28364, 28384, 28402, 28409, 28461, 28466, 28491, 28573, 28578, 28592, 28656, 28664, 28665, 28668, 28692, 28782, 28857, 28867, 28911, 28941, 28951, 28957, 28959, 28989, 29011, 29023, 29105, 29223, 29237, 29245, 29299, 29319, 29328, 29340, 29346, 29367, 29369, 29411, 29418, 29420, 29422, 29551, 29595, 29607, 29612, 29632, 29667, 29685, 29766, 29783, 29798, 29810, 29813, 29817, 29829, 29830, 29834, 29848, 29849, 29852, 29867, 29903, 29909, 29918]

There is a total of  1279 outliers in the dataset.

#### Removal of outliers from dataset

In [43]:
credit_card = credit_card.drop(credit_card.index[outlier_list])
credit_card.shape

(28667, 24)

In [44]:
# reindex the dataframe
credit_card.reset_index(inplace = True)

In [47]:
# remove column index"
# credit_card = credit_card.drop(["index"], axis=1)
credit_card

,LIMIT_BAL,GENDER,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,20000,2,2,1,24,2,2,-1,-1,0,...,0,0,0,0,689,0,0,0,0,1
1,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28662,220000,1,3,1,39,0,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
28663,150000,1,3,2,43,-1,-1,-1,-1,0,...,8979,5190,0,1837,3526,8998,129,0,0,0
28664,30000,1,2,2,37,4,3,2,-1,0,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
28665,80000,1,3,1,41,1,-1,0,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
28666,50000,1,2,1,46,0,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

### Normalization of continuous variables 
We will be using MinMaxScaling() for the normalization of our continuous variables (i.e. limit balance, previous payment amount and bill amount)

In [49]:
toBeScaled = credit_card[['LIMIT_BAL', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']].copy()

min_max_scaler = preprocessing.MinMaxScaler()
scaled= min_max_scaler.fit_transform(toBeScaled)
scaled = pd.DataFrame(scaled)
scaled.columns = ['LIMIT_BAL', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']
scaled

,LIMIT_BAL,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,0.012658,0.035863,0.156021,0.106451,0.122080,0.135370,0.221071,0.000000,0.005698,0.000000,0.000000,0.000000,0.000000
1,0.139241,0.033007,0.153073,0.110982,0.129971,0.144193,0.228690,0.000000,0.008269,0.010753,0.012048,0.000000,0.021277
2,0.101266,0.094619,0.179410,0.135714,0.156644,0.173544,0.257398,0.017250,0.012404,0.010753,0.012048,0.012341,0.053191
3,0.050633,0.135802,0.252639,0.216962,0.190369,0.209325,0.290102,0.022728,0.016696,0.012903,0.013253,0.013192,0.010638
4,0.050633,0.046776,0.161519,0.186366,0.172584,0.184265,0.265767,0.022728,0.303332,0.107527,0.108434,0.008503,0.007223
...,...,...,...,...,...,...,...,...,...,...,...,...,...
28662,0.265823,0.465146,0.562164,0.578666,0.334334,0.215143,0.258405,0.096593,0.165389,0.053796,0.036711,0.061704,0.010638
28663,0.177215,0.030689,0.153294,0.112847,0.143736,0.148624,0.221071,0.020875,0.029158,0.096753,0.001554,0.000000,0.000000
28664,0.025316,0.035055,0.156565,0.111155,0.172435,0.187932,0.266295,0.000000,0.000000,0.236559,0.050602,0.024682,0.032979
28665,0.088608,0.022968,0.317177,0.278385,0.249364,0.165645,0.335419,0.976159,0.028191,0.012667,0.023205,0.653618,0.019191
28666,0.050633,0.137980,0.254078,0.218038,0.210197,0.218185,0.256847,0.023614,0.014885,0.015376,0.012048,0.012341,0.010638

In [53]:
# before concatenation, drop the original columns in the dataframe
credit_card_dropped = credit_card.drop(['LIMIT_BAL', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6'], axis=1)

# concatenate it to the original dataframe
credit_card = pd.concat([credit_card_dropped,scaled], axis =1)

# change the order of the columns so that default status is last column
credit_card = credit_card[['GENDER', 'LIMIT_BAL', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_1', 'PAY_2', 'PAY_3',
       'PAY_4', 'PAY_5', 'PAY_6',
       'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5',
       'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5',
       'PAY_AMT6', 'default payment next month']]

credit_card

,GENDER,LIMIT_BAL,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,2,0.012658,2,1,24,2,2,-1,-1,0,...,0.122080,0.135370,0.221071,0.000000,0.005698,0.000000,0.000000,0.000000,0.000000,1
1,2,0.139241,2,2,26,-1,2,0,0,0,...,0.129971,0.144193,0.228690,0.000000,0.008269,0.010753,0.012048,0.000000,0.021277,1
2,2,0.101266,2,2,34,0,0,0,0,0,...,0.156644,0.173544,0.257398,0.017250,0.012404,0.010753,0.012048,0.012341,0.053191,0
3,2,0.050633,2,1,37,0,0,0,0,0,...,0.190369,0.209325,0.290102,0.022728,0.016696,0.012903,0.013253,0.013192,0.010638,0
4,1,0.050633,2,1,57,-1,0,-1,0,0,...,0.172584,0.184265,0.265767,0.022728,0.303332,0.107527,0.108434,0.008503,0.007223,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28662,1,0.265823,3,1,39,0,0,0,0,0,...,0.334334,0.215143,0.258405,0.096593,0.165389,0.053796,0.036711,0.061704,0.010638,0
28663,1,0.177215,3,2,43,-1,-1,-1,-1,0,...,0.143736,0.148624,0.221071,0.020875,0.029158,0.096753,0.001554,0.000000,0.000000,0
28664,1,0.025316,2,2,37,4,3,2,-1,0,...,0.172435,0.187932,0.266295,0.000000,0.000000,0.236559,0.050602,0.024682,0.032979,1
28665,1,0.088608,3,1,41,1,-1,0,0,0,...,0.249364,0.165645,0.335419,0.976159,0.028191,0.012667,0.023205,0.653618,0.019191,1
28666,1,0.050633,2,1,46,0,0,0,0,0,...,0.210197,0.218185,0.256847,0.023614,0.014885,0.015376,0.012048,0.012341,0.010638,1

### Export dataframe to csv.

In [52]:
credit_card.to_csv(r'\Credit_Card_Preprocessed.csv')